name: CI
on: [push, pull_request]

jobs:
  build-project:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_DATABASE_URL: ${{ secrets.DATABASE_URL }}
          envkey_NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          envkey_NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
          envkey_NEXT_GITHUB_CLIENT_ID: ${{ secrets.NEXTAUTH_URL }}
          envkey_NEXT_GITHUB_CLIENT_SECRET: ${{ secrets.NEXT_GITHUB_CLIENT_SECRET }}
          envkey_CLOUDINARY_NAME: ${{ secrets.CLOUDINARY_NAME }}
          envkey_CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          envkey_CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          envkey_OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      - name: Install NPM dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Build project
        run: pnpm build
      - name: Run Cypress tests
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          start: npm run start
          wait-on: "http://localhost:3000"
      - name: Cypress Artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Cypress Videos
          path: /home/runner/work/code-crafters/code-crafters/cypress/videos/


